ProgettoAlternanzaScuolaLavoroCorretto/Archivio/Codice/webService/Consumer/xml-resources/web-service-references/WSProgetto/wsdl/localhost_8080/WebAppCompleta/WSProgetto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.progetto.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.progetto.org/" name="WSProgetto">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.progetto.org/" schemaLocation="http://localhost:8080/WebAppCompleta/WSProgetto?xsd=1" />
</xsd:schema>
</types>
<message name="iscrividocente">
<part name="parameters" element="tns:iscrividocente" />
</message>
<message name="iscrividocenteResponse">
<part name="parameters" element="tns:iscrividocenteResponse" />
</message>
<message name="iscrivistudente">
<part name="parameters" element="tns:iscrivistudente" />
</message>
<message name="iscrivistudenteResponse">
<part name="parameters" element="tns:iscrivistudenteResponse" />
</message>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<portType name="WSProgetto">
<operation name="iscrividocente">
<input wsam:Action="http://webservice.progetto.org/WSProgetto/iscrividocenteRequest" message="tns:iscrividocente" />
<output wsam:Action="http://webservice.progetto.org/WSProgetto/iscrividocenteResponse" message="tns:iscrividocenteResponse" />
</operation>
<operation name="iscrivistudente">
<input wsam:Action="http://webservice.progetto.org/WSProgetto/iscrivistudenteRequest" message="tns:iscrivistudente" />
<output wsam:Action="http://webservice.progetto.org/WSProgetto/iscrivistudenteResponse" message="tns:iscrivistudenteResponse" />
</operation>
<operation name="login">
<input wsam:Action="http://webservice.progetto.org/WSProgetto/loginRequest" message="tns:login" />
<output wsam:Action="http://webservice.progetto.org/WSProgetto/loginResponse" message="tns:loginResponse" />
</operation>
</portType>
<binding name="WSProgettoPortBinding" type="tns:WSProgetto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="iscrividocente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="iscrivistudente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="WSProgetto">
<port name="WSProgettoPort" binding="tns:WSProgettoPortBinding">
<soap:address location="http://localhost:8080/WebAppCompleta/WSProgetto" />
</port>
</service>
</definitions>