ProgettoAlternanzaScuolaLavoroCorretto/Archivio/Codice/webService/Consumer/src/META-INF/wsdl/localhost_8080/WebAppCompleta/WSProgetto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://webservice.progetto.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.progetto.org/">

<xs:element name="iscrividocente" type="tns:iscrividocente" />

<xs:element name="iscrividocenteResponse" type="tns:iscrividocenteResponse" />

<xs:element name="iscrivistudente" type="tns:iscrivistudente" />

<xs:element name="iscrivistudenteResponse" type="tns:iscrivistudenteResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:complexType name="login">
<xs:sequence>
<xs:element name="nomeUtente" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iscrivistudente">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="cognome" type="xs:string" minOccurs="0" />
<xs:element name="indirizzo" type="xs:string" minOccurs="0" />
<xs:element name="classe" type="xs:string" minOccurs="0" />
<xs:element name="dataNascita" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iscrivistudenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iscrividocente">
<xs:sequence>
<xs:element name="nome" type="xs:string" minOccurs="0" />
<xs:element name="cognome" type="xs:string" minOccurs="0" />
<xs:element name="telefono" type="xs:long" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="lotto" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="iscrividocenteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>